body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-position-x: 1%;
    background-position-y: 20%;
    background-size: cover; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./image.jpg');
    color: white;
}

.main-text {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-text h1{
    font-size: 50px;
    margin-right: auto;
    margin-left: 2.4em;
} 

.main-text li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 6em;
    font-size: 1.3em;
    font-weight: 500;
}