body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    background-position-x: 1%;
    background-position-y: 20%;
    background-size: cover; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./image.jpg');
    color: white;
    padding-bottom: 120px;
    position: relative;
}

.main-text {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.main-text h1{
    font-size: 50px;
    margin-right: auto;
    margin-left: 2.4em;
} 

.main-text li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 6em;
    font-size: 1.3em;
    font-weight: 500;
}

/* input section */

.input-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 240px;
    z-index: 1;
    margin-bottom: 30px;
}

input {
    padding: 15px 20px 15px 55px;
    background-image: url('./search-icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: left;
    background-position-y: center;
    background-position: 20px;
    font-size: 1.2em;
    width: 35%;
    border-radius: 10px;
    border: none;
    border: 2px solid #E0E0E0;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    font-family: "Inter", sans-serif;
}

.input-section button {
    font-size: 1.2em;
    width: 13%;
    padding: 10px 12px 10px 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #E0E0E0;
    margin-left: 0;
    color: #616161;
}

button:hover {
    cursor: pointer;
    color: black;
}

/* empty movie page */

.empty-movie-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #DFDDDD;
    margin-top: 200px;
}

/* Watchlist page */

.empty-watchlist-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    color: #DFDDDD;
    width: 100vw;
    font-size: 1.2em;
}

.watchlist-add-btn {
    border: none;
    background-color: white;
    color: #363636;
    font-size: 1.2rem;
    font-weight: 600;
    background-image: url("./add-btn.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x:left;
    background-position-y: center;
    padding: 15px 12px 15px 40px;
    background-position: 10px;
}

.watchlist-add-btn a{
    text-decoration: none;
    color: #363636;

}

/* movie not found */

.movie-not-found {
    width: 100%;
    margin: auto 0;
    text-align: center;
    color: #DFDDDD;
    display: none;
}

/* card container */

.main-section {
    display: inline;
    /* height: 100%; */
    /* margin: 20px; */
}

.cards-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin: 60px 30px 10px 30px;
    /* justify-content: center; */
    align-items: center;
}

.card {
    display: flex;
    width: 100%;
    height:240px;
    gap: 20px;
    padding-bottom: 12px;
    border-bottom: 2px solid  #E5E7EB;
    margin-top: 35px;
}

.card img {
    height:230px;
}

.movie-details img{
   height: 20px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    font-size: small;
}

.title, .min-genre-watchlist{
    display: flex;
    align-items: center;
}

.title {
    gap: 10px;
    font-weight: 400;
}
.title img {
    height: 14px;
    margin-left: 6px;
}

.title h1 {
    font-weight: 400;
}

/* min-genre-watchlist */

.min-genre-watchlist {
    gap: 24px;
    font-weight: 400;
    font-size: 1.1em;
}

.min-genre-watchlist button{
    font-size: 16px;
    font-weight: 400;
}

/* description */

.description {
    margin-top: 0;
    display: flex;
    font-size: 1.25em;
    color: #6B7280;
    line-height: 1.5;
}