body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1% 21%;  
    zoom: 150px;
    background: rgba(0, 0, 0, 0.5);
}

.img-container {
    position: relative;
    width: 100%;
    height: 30vh;
    /* display: flex; */

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    color: white;
    gap: 50%;
    align-items: center;

}

h1 {
    margin-left: 2em;
    font-size: 4rem;
}